<ng-template #loadingPage>
  <div><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
</ng-template>

<form
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxFlexFill
>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 100%" class='card-header-container'>
    <mat-card-header
      class="seneca-card-header"
      id="pageHeader"
      fxLayout="row"
      fxLayoutGap="2em"
      fxLayoutAlign="start center"
    >
      <mat-card-title class="seneca-card-title"
        >Review Application</mat-card-title
      >
    </mat-card-header>
  </div>
</form>