<ng-template #progress>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<form
  fxFlexFill
  fxLayout="column"
  fxLayoutGap="1em"
>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 1 100%">
    <mat-card-header
      class="seneca-card-header"
      id="pageHeader"
      fxLayout="row"
      fxLayoutGap="2em"
      fxLayoutAlign="start center"
      fxFlex="calc(100% + 32px)"
    >
      <mat-card-title class="seneca-card-title"
        >Information Release
      </mat-card-title>
    </mat-card-header>
  </div>
</form>
